.filters {
	margin-bottom: 30px;
	@include clearfix();
	.filter-wrapper {
		float: left;
		@include mobile {
			float: none;
			&.mobile-show {
				.title:after {
					transform: rotateZ(-90deg);
				}
				ul {
					display: block;
				}
			}
		}
		& + .filter-wrapper {
			margin: 0 0 0 50px;
			@include mobile {
				margin: 0;
			}
		}
	}
	.title {
		text-align: center;
		font-size: 1.1rem;
		font-weight: bold;
		border-bottom: 1px solid #ccc;
		margin: 0 0 5px 0;
		padding: 0 0 5px 0;
		@include mobile {
			position: relative;
			text-align: left;
			padding-left: 5px;
			&:after {
				content: '';
				border-top: 5px solid black;
				border-left: 5px solid transparent;
				border-right: 5px solid transparent;
				display: block;
				position: absolute;
				right: 10px;
				top: 50%;
				transform: translateY(-50%);
			}
		}
	}
	ul {
		list-style-type: none;
		padding: 0;
		margin: 0;
		@include mobile {
			display: none;
			margin: 0 0 10px 0;
		}
	}
}
