#wines {
	display: flex;
	flex-flow: row wrap;
	align-items: flex-start;
	margin: 0 -1.16666667%;
	@include mobile {
		margin: 0;
	}
	.wine {
		flex: 0 0 31%;
		align-self: flex-start;
		margin: 0 1.16666667% 25px;
		box-sizing: border-box;
		box-shadow: 
			0 3px 3px -2px rgba(0,0,0,.2),
			0 3px 4px 0 rgba(0,0,0,.14),
			0 1px 8px 0 rgba(0,0,0,.12);
		@include mobile {
			flex: 0 0 100%;
			margin: 0 0 25px 0;
		}
		img {
			max-width: 100%;
			display: block;
		}
		.wine-description {
			padding: 10px;
			position: relative;
			p {
				margin: 0;
				max-width: 65%;
			}
			.price {
				position: absolute;
				width: 30%;
				right: 15px;
				top: 50%;
				transform: translateY(-50%);
				font-size: 1.4rem;
				font-weight: bold;
				text-align: right;
			}
		}
	}
}
